.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 100%;
    margin-right: var(--spacing-l);

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            color: black;
            transition: all 225ms ease-in-out;
        }
    }

    p {
        font-size: var(--font-size-p);
        text-align: center;
    }
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 100%;
}

.img-social-media{
    width: 65px;
    height: 65px;
}

@media(max-width: 970px) {
    .footer {
        display: block !important;
        padding-left: var(--spacing-xs) !important;
        padding-right: var(--spacing-xs) !important;
    }

    .footer-left {
        width: 100% !important;
        padding-left: var(--spacing-xs) !important;
        padding-right: var(--spacing-xs) !important;
        margin-right: unset;

        p {
            font-size: 9px !important;
        }
    }

    .footer-right {
        width: 100% !important;
        justify-content: space-around !important;
    }
}

@media(width: 768px) {
    .footer-left {
        justify-content: space-around !important;
    }
}

@media(width: 820px) {
    .footer-left {
        justify-content: space-around !important;
    }
}