<div class="footer padding-horizontal">
    <div class="footer-left">
        <a routerLink="/imprint"><p>Imprint</p></a>
        <a routerLink="/privacy"><p>Privacy Notice</p></a>
        <p>&#169; 2022 by Johannes Weber</p>
    </div>
    <div class="footer-right">
        <a target="_blank" href="https://www.linkedin.com/in/johannes-weber-1a37b717b/"><img src="/assets/img/linkedin-box-fill.png"></a>
        <a target="_blank" href="https://github.com/JohannesKarl91"><img src="/assets/img/github-fill.png"></a>
    </div>
</div>