.my-work {
    width: 100%;
}

.my-work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    h2 {
        font-size: var(--font-size-h2);
        padding: 16px;
    }
}


.my-work-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: var(--spacing-xl);
    padding-right: var(--spacing-xs);
    padding-left: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    padding-top: var(--spacing-xs);

    img {
        height: 100%;
        width: 375px;
        object-fit: cover;
    }

    h2 {
        font-size: var(--font-size-h3);
        margin-bottom: var(--spacing-xs) !important;
    }

    p {
        font-size: var(--font-size-p);
        margin-bottom: var(--spacing-xs);
        text-align: center;
        min-height: 104px;
    }

    .my-work-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-work-btn-left {
        height: 65px;
        width: 115px;
        margin-left: 1vw;
        margin-right: 1vw;
        background-color: var(--color-secondary);
        color: white;
        border-radius: 10px;
        border: none;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        cursor: pointer;

        &:hover {
            background-color: var(--color-action);
            color: white;
            border: none;
        }
    }

    .my-work-btn-right {
        height: 65px;
        width: 115px;
        margin-left: 1vw;
        margin-right: 1vw;
        background-color: var(--color-primary);
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: var(--color-action);
        }
    }

    .my-work-img-responsive {
        display: none;
        object-fit: cover;
    }
}

.btn-container {
    display: flex;
}

// Responsive Part
@media(max-width: 970px) {
    .my-work {
        padding: var(--spacing-xs) !important;
    }

    .my-work-project {
        display: block;
        height: 65vh;
        padding-top: 0 !important;

        img {
            height: 28vh;
            width: 100%;
            object-fit: cover;
        }

        p{
            padding-left: var(--spacing-xs);
            padding-right: var(--spacing-xs);
        }
    }

    .my-work-img-responsive {
        display: block !important;
    }

    .my-work-img-check {
        display: none;
    }

    .my-work-info {
        height: 28vh;
        width: 100%;
        object-fit: cover;
    }
}

@media(width: 375px) {
    .my-work-project {
        height: 80vh !important;
    }
}

@media(width: 280px) {
    .my-work-project {
        height: 85vh !important;
    }
}


@media(max-height: 414px) {
    .my-work-header {
        height: unset !important;
    }

    //Hier ist der letzte Stand! :-)
    .my-work-project {
        height: unset !important;
        
        img {
            height: 89vh !important;
        }
    }

    .my-work-info{
        height: unset !important;
    }
}