<div class="my-work">
    <div class="my-work-header" data-aos="fade-up">
        <h2>MY WORK</h2>
    </div>

    <div class="my-work-project padding-horizontal" data-aos="fade-right">
        <img class="my-work-img" src="/assets/img/kanban.jpg">
        <div class="padding-horizontal my-work-info">
            <h2>KANBAN Board - JOIN</h2>
            <p>JOIN is a group project where you can create, adjust and pick your tasks on a KANBAN board.</p>
            <div>
                <a target="_blank" href="https://github.com/JohannesKarl91/kanban"><button class="my-work-btn-left">On
                        GitHub</button></a>
                <a target="_blank" href="https://gruppe-221.developerakademie.net/index.html"><button
                        class="my-work-btn-right">Try Out</button></a>
            </div>
        </div>
    </div>

    <div class="my-work-project padding-horizontal" data-aos="fade-left">
        <div class="padding-horizontal my-work-info">
            <h2>Ring of Fire</h2>
            <p>Ring of Fire is a simple drinking game that can be played online based on Angular and Firebase.</p>
            <div>
                <a target="_blank" href="https://github.com/JohannesKarl91/ringoffire"><button
                        class="my-work-btn-left">On GitHub</button></a>
                <a target="_blank" href="https://ringoffire-jkw.web.app/"><button class="my-work-btn-right">Try
                        Out</button></a>
            </div>
        </div>
        <img class="my-work-img" src="/assets/img/rof.jpg">
    </div>

    <div class="my-work-project padding-horizontal" data-aos="fade-right">
        <img class="my-work-img" src="/assets/img/elpolloloco.png">
        <div class="padding-horizontal my-work-info">
            <h2>El Pollo Loco</h2>
            <p>This is a Mexican Jump and Run Game. You have to jump over chickens and collect Tabasco. At the end, you
                have to defeat the Pollo Loco.</p>
            <div>
                <a target="_blank" href="https://github.com/JohannesKarl91/el_pollo_loco"><button
                        class="my-work-btn-left">On GitHub</button></a>
                <a target="_blank" href="https://johannes-weber.eu/el_pollo_loco/index.html"><button
                        class="my-work-btn-right">Try Out</button></a>
            </div>
        </div>
    </div>

    <div class="my-work-project padding-horizontal" data-aos="fade-left">
        <div class="padding-horizontal my-work-info">
            <h2>Quiz App - German Dialects</h2>
            <p>This project is challenging you knowledge of german dialects. Let's see, whether you are a german dialect
                specialist.</p>
            <div>
                <a target="_blank" href="https://github.com/JohannesKarl91/QuizzAppGermanDialects"><button
                        class="my-work-btn-left">On GitHub</button></a>
                <a target="_blank" href="https://johannes-weber.eu/quizapp/index.html"><button
                        class="my-work-btn-right">Try Out</button></a>
            </div>
        </div>
        <img class="my-work-img" src="/assets/img/quizapp.jpg">
    </div>
</div>