.contact {
    margin-top: var(--spacing-xxl);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: var(--font-size-h2);
    }

    .contact-text {
        display: flex;
        align-items: center;
    }

    p {
        font-size: var(--font-size-p);
    }

    .contact-mail-adress {
        color: var(--color-primary);
    }

    .contact-form-input {
        height: var(--spacing-xl);
        width: 50vw;
        border: none;
        background-color: var(--color-secondary);
        border-radius: 5px;

        &:focus {
            outline: 1px solid var(--color-action);
        }
    }

    .contact-form-input-invalid {
        outline: 1px solid var(--color-invalid) !important;
    }
}

.d-bold {
    font-weight: bold;
}

.d-height {
    height: 30vh !important;
}

.my-work-btn-right {
    height: 65px;
    width: 115px;
    margin-top: var(--spacing-xs);
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-action);
    }
}

.d-flexbox {
    display: flex;
    justify-content: flex-end;
}

//Responsive Part
@media(max-width: 970px) {
    .padding-horizontal-contact {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
    }

    .contact{
        margin-top: 0 !important;

        p{
            text-align: center;
            padding: 8px;
        }

        input{
            width: 80vw !important;
        }

        textarea{
            width: 80vw !important;
        }
    }
}