<div class="contact">
    <h2>CONTACT ME</h2>
    <div class="contact-text" data-aos="flip-up">
        <p>Get in touch with via the form below, or by emailing
        <span class="contact-mail-adress">johannes.k.weber@web.de</span></p>
    </div>
    <form class="contact-form" name="form" action="../../assets/send_mail/send_mail.php" method="post" required data-aos="flip-up">
        <div class="contact-form-name" data-aos="flip-up">
            <p class="d-bold" >Name</p>
            <input name="name" class="contact-form-input" data-aos="flip-up" required>
        </div>
        <div class="contact-form-name">
            <p class="d-bold">Email address</p>
            <input name="email" class="contact-form-input" data-aos="flip-up">
        </div>
        <div class="contact-form-name" data-aos="flip-up">
            <p class="d-bold">Message</p>
            <textarea name="message" class="contact-form-input d-height" required></textarea>
        </div>
        <div class="contact-form-name d-flexbox" data-aos="flip-up">
            <button (click)="sendFeedback()" type="submit" class="my-work-btn-right"><p>Send</p></button>
        </div>
    </form>
</div>