.intro-section{
    background-image: url(../../assets/img/intro4.jpg);
    height: 100vh;
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-xs);
}

.intro-arrow-container {
    margin-top: var(--spacing-xxl);
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: article-load var(--nav-load-time) ease-in var(--load-time-p);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.intro-arrow-img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.intro-text {
    padding-bottom: var(--spacing-xxl);

    h1 {
        font-size: var(--font-size-h1);
        color: white;
        margin-top: var(--spacing-xxl);
        margin-bottom: var(--spacing-xxl);

        animation: article-load var(--nav-load-time) ease-in var(--load-time-main);
        animation-fill-mode: forwards;
        transform: translateY(-20px);
        opacity: 0;
    }

    p {
        font-size: var(--font-size-p);
        color: white;

        animation: article-load var(--nav-load-time) ease-in var(--load-time-p);
        animation-fill-mode: forwards;
        transform: translateY(-20px);
        opacity: 0;
    }

    button {
        width: 130px;
        height: 65px;
        padding: var(--spacing-xs);
        background-color: transparent;
        color: white;
        border: 1px solid white;
        font-size: var(--font-size-p);
        border-radius: 10px;

        animation: article-load var(--nav-load-time) ease-in var(--load-time-p);
        animation-fill-mode: forwards;
        transform: translateY(-20px);
        opacity: 0;
        cursor: pointer;

        &:hover {
            background-color: var(--color-action);
            color: white;
            border: none;
        }
    }
}

@media(max-width: 970px){
    h1{
        font-size: var(--font-size-h2) !important;
    }

    // .intro-text{
    //     padding-left: var(--spacing-xs) !important;
    //     padding-right: var(--spacing-xs) !important;
    // }

    .intro-arrow-container{
        display: none !important;
    }
}

@keyframes article-load {
    20% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}