<div class="intro-section">
    <img class="intro-img" src="/assets/img/intro4.jpg">
    <div class="intro-text">
        <h1 class="padding-horizontal">I AM JOHANNES WEBER</h1>
        <p class="padding-horizontal">Hello, I'm Johannes Weber and 
            a Front-End Developer with experience in building web apps 
            based on JavaScript & Angular.
        </p>
        <a href="#contact-me" class="padding-horizontal"><button>Contact me</button></a>
    </div>
    <a class="intro-arrow-container" href="#my-work">
        <img class="intro-arrow-img" src="/assets/img/arrow-down-24.png">
    </a>
</div>