.privacy{

    h1{
        font-size: var(--font-size-h1);
    }

    h2{
        font-size: var(--font-size-h2);
    }

    p{
        font-size: var(--font-size-p);
    }

    a{
        font-size: var(--font-size-p);
        text-decoration: none;
        color: black;

        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 1px;
            color: black;
            transition: all 225ms ease-in-out;
        }
    }
}


//Responsive Configuration
@media(max-width:960px){
    .privacy{
        margin-top: var(--spacing-xll);
        margin-bottom: 150px;
        width: 90%;
        margin-left: 8px;
        margin-right: 8px;
    }

    h1{
        font-size: 9px !important;
    }

    h2{
        font-size: 9px !important;
    }

    p{
        font-size: 9px !important;
    }

    li{
        font-size: 9px !important;
    }

    a{
        font-size: 9px !important;
    }
}