<div class="imprint padding-horizontal">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Johannes Weber <br>
        Maximilianstr. 14A<br>
        68723 Schwetzingen <br>
    </p>
    <h2>Vertreten durch:</h2>
        <p>Johannes Weber</p>
        
    <h2>Kontakt:</h2>
        <p>Telefon: 0152-25758785<br>
        E-Mail: <a class="e-mail" href='mailto:johannes.k.weber@web.de'>johannes.k.weber@web.de</a></p><br>
    Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a
        href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach,
        Frankfurt</a>
</div>