.imprint{

    h1{
        font-size: var(--font-size-h1);
    }

    h2{
        font-size: var(--font-size-h2);
    }

    p{
        font-size: var(--font-size-p);
    }

    a{
        text-decoration: none;
        color: black;

        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 1px;
            color: black;
            transition: all 225ms ease-in-out;
        }
    }

    .e-mail{
        color: var(--color-primary) !important;
    }
}

@media(max-width:960px){
    .imprint{
        margin-top: var(--spacing-xll);
        height: 65vh;
        width: 90%;
        margin-left: 8px;
        margin-right: 8px;
    }

    h1{
        font-size: var(--font-size-h2) !important;
    }

    h2{
        font-size: var(--font-size-h3) !important;
    }

    p{
        font-size: var(--font-size-p) !important;
    }
}

@media(width:280px){
    .imprint{
        height: 80vh !important;
    }
}

@media(width:375px){
    .imprint{
        height: 70vh !important;
    }
}